$primary_font: "Oswald", sans-serif;
$secondary_font: "Arial", sans-serif;

$primary_font_color: #9b9999;
$secondary_font_color: #ffffff;
$nav_font_color: #000000;
$p_font_color: #a5a4a4;
$head_font_color: #222222;

$fa-font-path: "libs/font-awesome/fonts";
@import "fonts";


